*{
Margin:0;
Padding:0;
box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS';
    line-height: 1.5;
    background-color: #ecedf1;
    padding: 0;
    text-align: center;
}

main{
    display: flex;
    width: 100;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color:  rgb(215, 215, 235);
}
.logo {
    height: auto;
    width: 150px;
    display: flex;
    background-color:  rgb(229, 229, 239);

}

.logo img {
    width: 100%;
    border-radius: 20px;
    background-color:  rgb(229, 229, 239);
    margin: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(109, 192, 128);
    margin-left: 30px;
    padding: 6px 12px;
    
}
header{
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: rgb(229, 229, 239);
    max-width: 2000px;
}

.banner-img {
    width: 50%;
    border-radius: 20px;

}


.banner-text{
    width: 900px;
    font-size: 20px;
    background-color: rgb(230, 230, 240);
}

.banner-text h1{
    color: rgb(117, 187, 132);
}

.banner-text p{
    color: rgb(125, 190, 138);
}

section{
    display: flex;
    margin: auto;
    width: 100%;
}

.hobbies img{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.hobbies p{
    align-items: center;
    padding: 20px;
}
.hobbies h2{
    color: rgb(117, 117, 195);
}

.blue{
    align-items: center;
    padding: 10px;
}
 .blue h2{
    color: rgb(106, 187, 124);
    font-size: 30px;
 }
.blue h3{
    color: rgb(127, 195, 142);
}
.blue p{
    padding: 15px;
    margin-bottom: 10px;
}

hr{
    height: 5px;
    background-color: rgb(195, 195, 222);
}

.sect{
  background-image: url('Images/banner1.jpg'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.element{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(237, 237, 237, 0.85)),
    url('Images/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    margin: 30px;
    
}

footer{
     background-color:  rgb(206, 206, 236);
     width: 100%;
     padding: 20px;
     margin: 20px;
}

.learn{
    padding: 30px;
    margin: 20px;
}
.learn h1{
    color: rgb(106, 187, 124);

}

.learn button{
    border-radius: 20px;
    background-color: #0077b6;
    border: none;
    padding: 12px 30px; 
    font-weight: 600;
    font-size: 1em;

}
.bout h2{
    color:  rgb(81, 168, 100);
    font-size: 2em;
    font-weight: 800;

}

.bout p{
    color: rgb(83, 83, 154);
    font-size: 1em;
    font-weight: 800;
    margin: 0 auto 20px;
    padding: 5px auto;
    line-height: 50px;
    max-width: 700px;
}

.box button{
    border-radius: 20px;
    background-color: #0077b6;
    border: none;
    padding: 12px 30px; 
    font-weight: 600;
    font-size: 1em;
}

.message-form input, .message-form textarea{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid #90e0ef;
  border-radius: 8px;
  font-size: 1em;
  max-width: 400px;         
  margin: 50px auto;
  outline: none;
  margin: 8px auto 15px;
    
}

.signin-form textarea, .feedback-form textarea{
    width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid #90e0ef;
  border-radius: 8px;
  font-size: 1em;
  max-width: 400px;         
  margin: 50px auto;
  outline: none;
}

